.title {
  color: red;
}

.blurb {
  font-family: Monaco, fantasy;
  color: #5e17a9;
}

.landing-page-div {
  font-family: Monaco, fantasy;
  color: #5e17a9;
  
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.Button {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #792784;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "trebuchet ms";
  text-align: center;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
} 


.homeBackground {
  position: relative;
}

.start-game {

    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 10vmin;
    color:#5e17a9;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.start-story{
  
}

.homeBackground {
  width: 100vw;
  height: 100vh;
}

.fade-in-out {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2vmin;
  color: #666;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: fadeInOut 5s ease-in-out;
  -webkit-animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  background: linear-gradient(to bottom, #000000, #800080);
  height: 100vh;
}