.title {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.Button {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
} 


.homeBackground {
  position: relative;
}

.start-game {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 10vmin;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.homeBackground {
  width: 100vw;
  height: 100vh;
}