.title {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.ghost {
  position: fixed;
  height: 150px;
  width: 150px;
  position: fixed;
  top: 150px;
  left: 40px;
}

.bunny {
  position: relative;
  height: 75px;
  width: 75px;
  top: 105px;
  right: 450px;
}

.game-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}

.Button {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.homeBackground {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.start-game {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 10vmin;
  color: #5e0647;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.question {
  position: fixed;
  top: 100px;
  left: 500px;
  font-size: 40px;
}

.fade-in-and-fade-out {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2vmin;
  color: #666;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: fadeInOut 10s ease-in-out forwards;
  -webkit-animation: fadeInOut 10s ease-in-out forwards;
}

.fade-in {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2vmin;
  color: #666;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: fadeIn 15s ease-in-out;
  -webkit-animation: fadeIn 15s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.container {
  background: linear-gradient(to bottom, #000000, #800080);
  height: 100vh;
}
